//Шрифт
$primary-font: "Lato", "Arial", sans-serif;
$primary-text-color: #444444;
$primary-font-style: normal;
$primary-font-size: 14px;
$primary-line-heigth: 18px;
$secondary-font: "Oswald", "Arial", sans-serif;

//Фон
$primary-bg: #ffffff;
$secondary-bg: #68b738;
