.additional-products {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 25px;
}

.additional-products__list {
  position: relative;
}

.additional-products__list::before {
  position: absolute;
  content: "";
  display: block;
  top: 100%;
  width: 100%;
  height: 1px;
  background-color: #ebebeb;
}

.additional-products__title {
  @include font($sec-font, $pr-font-style, $pr-font-weight, 24px, 24px, #000000);
  margin: 0;
  margin-bottom: 35px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 34px;
    top: 10px;
    right: -20px;
    background-color: #68b738;
  }

  @media (min-width: $tablet) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop) {
    font-size: 40px;
    line-height: 40px;
  }
}
