.additional__link {
  text-decoration: none;
}

.additional__title {
  @include font($sec-font, $pr-font-style, $pr-font-weight, 16px, 16px, #222222);
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
  }
}

.additional__quantity,
.additional__price {
  @include font($pr-font, $pr-font-style, $pr-font-weight, $pr-font-size, 14px, $pr-color);

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
  }
}
