.additional {
  position: relative;
  padding-top: 14px;
  padding-bottom: 18px;
}

.additional::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #ebebeb;
}

.additional__link {
  text-decoration: none;
}

.additional__title {
  @include font($sec-font, $pr-font-style, $pr-font-weight, 16px, 16px, #222222);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
  }
}

.additional__price-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.additional__quantity {
  @include font($pr-font, $pr-font-style, $pr-font-weight, $pr-font-size, 14px, $pr-color);

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
  }
}

.additional__price {
  @include font($pr-font, $pr-font-style, $pr-font-weight, $pr-font-size, 14px, $pr-color);

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
  }
}

.additional__button {
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
