.additional-products__title {
  @include font($sec-font, $pr-font-style, $pr-font-weight, 24px, 24px, #000000);

  @media (min-width: $tablet) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop) {
    font-size: 40px;
    line-height: 40px;
  }
}
