.button {
  @include font($sec-font, $pr-font-style, $pr-font-weight, 20px, 26px, #ffffff);
  display: block;
  text-align: center;
  background-color: $sec-bg;
  text-transform: uppercase;
  border: none;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 26px;
  }
}
