.contacts__title {
  @include font($sec-font, $pr-font-style, $pr-font-weight, 16px, 20px, #111111);
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  @include font($pr-font, $pr-font-style, $pr-font-weight, $pr-font-size, 20px, $pr-color);

  @media (min-width: $tablet) {
    font-size: 16px;
  }
}

.contacts--secondary {
  background-color: #f2f2f2;
}
