.copyright {
  @include font($pr-font, $pr-font-style, $pr-font-weight, 16px, 20px, #444444);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 20px 0;

  @media (min-width: $tablet) {
    width: 168px;
    padding: 0;
  }
}

.copyright__img {
  display: block;
}
