.example {
  background-color: #eaeaea;
}

.example__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.example__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.example__result {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.example__text {
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
}

.example__price {
  font-family: $secondary-font;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}
