.header {
  @media (min-width: $desktop) {
    max-width: 1220px;
    margin: 0 auto;
  }
}

.header--catalog {
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet) {
    border-bottom: 0 solid #d9d9d9;
  }
}

.header__wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 13px 0 14px;

  @media (min-width: $tablet) {
    padding-left: 30px;
    padding-right: 34px;
    margin-top: 12px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    max-width: 1220px;
    padding: 0;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    justify-content: flex-start;
    margin-top: 55px;
  }
}

.header__wrapper:has(.nav__list--nojs) {
  padding-bottom: 0;
}

.header__wrapper--catalog {
  @media (min-width: $desktop) {
    max-width: 1220px;
    position: static;
    padding: 0;
    margin: 0 auto;
    justify-content: flex-start;
    margin-top: 55px;
  }
}

.header__logo {
  margin-left: 20px;

  @media (min-width: $tablet) {
    margin-left: 0;
  }
}

.header__text-logo {
  margin-left: 56px;
  margin-top: 5px;

  @media (min-width: $tablet) {
    margin-right: 0;
    margin-top: 5px;
    margin-left: 13px;
  }

  @media (min-width: $desktop) {
    margin-left: 14px;
  }
}
