.hero {
  position: relative;
  padding-top: 27px;
  margin-bottom: 20px;

  @media (min-width: 500px) {
    background-size: 100%, cover;
  }

  @media (min-width: $tablet) {
    width: 768px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    background-image: none;
    padding-top: 51px;
  }

  @media (min-width: $desktop) {
    background: transparent;
    width: 1440px;
    margin: 0 auto;
    padding-top: 224px;
    margin-bottom: 82px;
    padding-bottom: 184px;
  }
}

.hero__title {
  @include font($sec-font, $pr-font-style, $pr-font-weight, 36px, 36px, #ffffff);
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;

  @media (min-width: $tablet) {
    order: -3;
    max-width: 416px;
    margin: 0;
    margin-left: 120px;
    margin-bottom: 40px;
    text-align: start;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }

  @media (min-width: $desktop) {
    margin-top: 0;
    margin-left: 189px;
  }
}

.hero__subtitle {
  @include font($sec-font, $pr-font-style, $pr-font-weight, 14px, 14px, #ffffff);
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 29px;
  max-width: 300px;

  @media (min-width: $tablet) {
    order: -2;
    margin-left: 120px;
    text-align: start;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 50px;
    max-width: 400px;
  }

  @media (min-width: $desktop) {
    margin-left: 190px;
    margin-bottom: 52px;
  }
}

.hero__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;

  @media (min-width: $tablet) {
    margin: 0;
    margin-top: -83px;
    margin-left: 30px;
  }

  @media (min-width: $desktop) {
    margin: 0;
  }
}

.hero picture {
  @media (min-width: $desktop) {
    position: absolute;
    top: 143px;
    left: 557px;
  }
}

.hero__link {
  display: block;
  max-width: 100%;
  margin: 0 20px;
  padding: 10px 64px;
  text-align: center;

  @media (min-width: $tablet) {
    order: -1;
    max-width: 244px;
    margin: 0;
    margin-left: 120px;
    padding: 14px 26px;
    z-index: 1;
  }

  @media (min-width: $desktop) {
    margin-left: 190px;
  }
}
