.more-product {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 25px 0;

  @media (min-width: $tablet) {
    padding: 50px 37px 40px;
  }
}

.more-product::after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: -20px;
  width: calc(100% + 40px);
  height: 1px;
  background-color: #ebebeb;

  @media (min-width: $tablet) {
    display: none;
  }
}

.more-product::before {
  position: absolute;
  content: "";
  display: block;
  top: 100%;
  left: -20px;
  width: calc(100% + 40px);
  height: 1px;
  background-color: #ebebeb;

  @media (min-width: $tablet) {
    display: none;
  }
}

.more-product__title {
  @include font($sec-font, $pr-font-style, $pr-font-weight, 16px, 20px, #111111);
  text-transform: uppercase;
  position: relative;
  margin-top: 53px;
  margin-bottom: 8px;
  text-align: center;

  @media (min-width: $tablet) {
    margin-top: 0;
    padding-top: 110px;
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 24px;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #d3d3d3;
    width: 30px;
    height: 2px;
    top: -38px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $tablet) {
      top: 30px;
      width: 60px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    background-color: #d3d3d3;
    width: 2px;
    height: 30px;
    top: -53px;
    left: 50%;

    @media (min-width: $tablet) {
      height: 60px;
      top: 0;
    }
  }
}

.more-product__subtitle {
  @include font($pr-font, $pr-font-style, $pr-font-weight, 12px, 16px, $pr-color);
  text-align: center;
  margin-bottom: 21px;

  @media (min-width: $tablet) {
    margin-bottom: 82px;
    font-size: 16px;
    line-height: 18px;
  }
}

.more-product__button {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
