.nav {
  margin-left: 10px;
  margin-bottom: 2px;

  @media (min-width: $tablet) {
    max-width: 436px;
  }

  @media (min-width: $desktop) {
    max-width: 476px;
  }
}

.nav__list {
  display: none;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  left: 0;
  top: 65px;
  text-align: center;
  z-index: 1;

  @media (min-width: $tablet) {
    position: static;
    display: flex;
    gap: 33px;
  }
}

.nav__list--nojs {
  display: block;
  position: static;
}

.nav__list--nojs + .nav__toggle {
  @media (max-width: 767px) {
    display: none;
  }
}

.nav__list--closed {
  @media (max-width: 767px) {
    display: none;
  }
}

.nav__list--opened {
  border-bottom: 1px solid #e6e6e6;

  @media (max-width: 767px) {
    display: block;
  }
}

.nav__item {
  background-color: #ffffff;
  padding: 22px 0 24px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(230, 230, 230, 1);

  @media (min-width: $tablet) {
    padding: 0;
    border: none;
  }

  @media (min-width: $desktop) {
    background: none;
  }
}

.nav__toggle {
  display: block;
  position: relative;
  padding: 0;
  cursor: pointer;
  border: none;
  width: 24px;
  height: 2px;
  background-color: #000000;

  @media (min-width: $tablet) {
    display: none;
  }
}

.nav__toggle::before {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  width: 24px;
  height: 2px;
  background-color: #000000;
}

.nav__toggle::after {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  width: 24px;
  height: 2px;
  background-color: #000000;
}

.nav__link {
  @include font($sec-font, $pr-font-style, $pr-font-weight, 20px, 20px, #000000);
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
}
