.product {
  background-color: #ffffff;
}

.product__link {
  text-decoration: none;
}

.product__title {
  @include font($sec-font, $pr-font-style, $pr-font-weight, 16px, 20px, #222222);
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 24px;
  }
}

.product__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product__item {
  @include font($pr-font, $pr-font-style, $pr-font-weight, 12px, 16px, #444444);

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
  }
}
