.subscribe__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.subscribe__text {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.subscribe__input::placeholder {
  font-family: $secondary-font;
  font-size: 20px;
  color: #444444;
  text-transform: uppercase;
}
